" use track action id to find the correct action id
" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d

" optimizing movements
nnoremap <silent> j :action MethodDown<CR>zz
nnoremap <silent> k :action MethodUp<CR>zz

nnoremap <silent> H :action PreviousTab<CR>
nnoremap <silent> L :action NextTab<CR>

nnoremap <leader>f  :action ReformatCode<CR>

" comments
nnoremap <leader>cc :action CommentByLineComment<CR>
nnoremap <leader>cb :action CommentByBlockComment<CR>
vnoremap <leader>cc :action CommentByLineComment<CR>
vnoremap <leader>cb :action CommentByBlockComment<CR>

vnoremap <silent> <C-n> :action SelectNextOccurrence<CR>

" ide bypass
sethandler <C-S-6> a:vim
sethandler <C-A> a:ide
sethandler <C-B> a:vim
sethandler <C-C> a:ide
sethandler <C-D> a:vim
sethandler <C-E> a:vim
sethandler <C-F> a:ide
sethandler <C-G> a:vim
sethandler <C-H> a:ide
sethandler <C-I> a:vim
sethandler <C-J> a:vim
sethandler <C-K> a:vim
sethandler <C-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-P> a:ide
sethandler <C-R> a:vim
sethandler <C-S> a:ide
sethandler <C-T> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:ide
sethandler <C-W> a:ide
sethandler <C-X> a:vim
sethandler <C-Y> a:vim
sethandler <C-[> a:vim
sethandler <C-\> a:ide
sethandler <C-]> a:ide

sethandler <C-S-Right> a:ide
sethandler <C-S-Left> a:ide
